/* ============================== */
body {
    padding: 0;
    margin: 0;
    min-width: 1024px;
    min-height: 600px;
    font-family: "A Garamond Pro";
    overflow: hidden;
}
.fullpage {
    width: 100vw;
    height: 100vh;
}
/* ============================== */
/* =============== UP =========== */
.up__ {
    background-color: black;
    height: 66vh;
    position: relative;
}
.up__logo {
    margin: 0 auto;
    position: absolute;
    bottom: 43px;
    left: 0;
    right: 0;
}
/* =============== UP-end ======= */
/* =============== DOWN ========= */
.down__ {
    background-color: white;
    height: 34vh;
}
.down__menu {
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    width: 517px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 34px;
}
.down__menu a {
    color: black;
    text-decoration: none;
}
.down__copyright {
    color: #949494;
    font-size: 11px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 26px;
    width: 100%;
    min-width: 1024px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.down__copyright a {
    color: #949494;
}
/* =============== DOWN-end ===== */
